export(critic,lookat)
  importFrom("grDevices", "dev.cur", "dev.new", "dev.set", "rainbow","trans3d")
  importFrom("graphics", "abline", "axis", "contour", "filled.contour","image", "lines", "locator", "par", "persp", "plot","points")
  importFrom("grDevices","rainbow")
  importFrom("stats", "anova", "cor", "cor.test", "cov2cor", "lm","qchisq", "qf", "qnorm", "var")
import()
